# Facebook App Configuration
ACCESS_TOKEN=EAANZAZBf2B3EgBQ5wZBHCKMZBirpM2IKqm9ToobnV4MXhBzx7qd45PY1QRIITXQ0E3fUYZA98pZAAzLZCdanijOIqCLZB3haEEVEpOEEuW2c8vHVDOfDZCOmNoezNLjNB2vshDzi6JUfxEktzdhY6O2pw2lbUKeqVN2IVjbmBorDakPhh3fplIJjZBH1z9fws4EAZDZD
APP_SECRET=cfc62ad8dbda1e224e326124b39633d6
APP_ID=943355165006920
VERIFY_TOKEN=key_1992

# Server Configuration
PORT=8080
